@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

img, fieldset, a img {
  border: none; }

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none; }

input[type="submit"],
button {
  cursor: pointer; }
  input[type="submit"]::-moz-focus-inner,
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }

textarea {
  overflow: auto; }

input, button {
  margin: 0;
  padding: 0;
  border: 0; }

div, input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none; }

ul, ol {
  list-style-type: none; }

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important; } }

body {
  background-color: #ffffff;
  min-width: 320px;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

.wrapper {
  margin-top: 25px; }

.container {
  max-width: 1090px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container .row {
    margin-left: -15px;
    margin-right: -15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .container .row .site-bar {
      width: 157px; }
      .container .row .site-bar .menu-icons {
        margin-top: 45px; }
        .container .row .site-bar .menu-icons li {
          margin-bottom: 15px; }
        .container .row .site-bar .menu-icons li > a {
          text-decoration: none;
          color: #31aeb3;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-transition: all 0.25s ease;
          -o-transition: all 0.25s ease;
          transition: all 0.25s ease;
          font-size: 18px; }
          .container .row .site-bar .menu-icons li > a:hover {
            color: #000; }
            .container .row .site-bar .menu-icons li > a:hover img {
              -webkit-filter: opacity(0.5);
                      filter: opacity(0.5); }
          .container .row .site-bar .menu-icons li > a img {
            margin-right: 15px;
            -webkit-transition: all 0.25s ease;
            -o-transition: all 0.25s ease;
            transition: all 0.25s ease; }
      .container .row .site-bar .logo {
        display: block;
        margin: 0 auto;
        height: 120px;
        width: 120px;
        background: url(../icon/food-sense.png);
        background-position: top left; }
        @media only screen and (max-width: 1000px) {
          .container .row .site-bar .logo {
            height: 240px;
            width: 240px;
            background-position: center bottom; } }
      .container .row .site-bar-footer {
        display: block; }
        .container .row .site-bar-footer .box_social {
          display: block; }
        .container .row .site-bar-footer p {
          display: block; }
    .container .row .content {
      width: -webkit-calc(100% - 40px - 157px);
      width: calc(100% - 40px - 157px);
      margin-left: auto; }
      .container .row .content .blog {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; }
    .container .row .footer {
      display: block;
      width: 100%; }
