@import '_mixins.sass'
@import '_smartgrid.sass'
@import '_reset.sass'

html
    font-size: 10px
body
    font-family: 'Roboto', sans-serif
    font-weight: 400
    font-size: 10px
.container
    +wrapper()
strong
    font-weight: bold
p,span
    font-size: 1.4rem
h1
    font-size: 2.5rem
    font-weight: bold
h2
    font-size: 2.4rem
    font-weight: bold
h3
    font-size: 2.2rem
    font-weight: bold
h4,h5,h6
    font-size: 20px
    font-weight: bold
ul>li,ol>li
    font-size: 1.4rem
a
    text-decoration: none
    font-size: 1.4rem
    color: #337ab7
    transition: all 0.25s ease
a:hover,a:focus
    color: #000
    text-decoration: underline