html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

img, fieldset, a img {
  border: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
}

input[type="submit"],
button {
  cursor: pointer;
}

input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

input, button {
  margin: 0;
  padding: 0;
  border: 0;
}

div, input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none;
}

ul, ol {
  list-style-type: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-transition: none !important;
    transition: none !important;
  }
}

html {
  font-size: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 10px;
  overflow-x: hidden;
  min-width: 320px;
}

hr {
  border: 1px solid #000;
  width: 100%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media screen and (max-width: 780px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -7.5px;
  margin-right: -7.5px;
}

strong {
  font-weight: bold;
}

p, span {
  font-size: 1.4rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 2.4rem;
  font-weight: bold;
}

h3 {
  font-size: 2.2rem;
  font-weight: bold;
}

h4, h5, h6 {
  font-size: 20px;
  font-weight: bold;
}

ul > li, ol > li {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #337ab7;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

a:hover, a:focus {
  color: #000;
  text-decoration: underline;
}

.col-12 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: calc(100% - 15px);
}

@media screen and (max-width: 780px) {
  .col-12 {
    width: calc(100% - 15px);
  }
}

.col-11 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: calc(91.66667% - 15px);
}

@media screen and (max-width: 780px) {
  .col-11 {
    width: calc(100% - 15px);
  }
}

.col-10 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: calc(83.33333% - 15px);
}

@media screen and (max-width: 780px) {
  .col-10 {
    width: calc(100% - 15px);
  }
}

.col-9 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: calc(75% - 15px);
}

@media screen and (max-width: 780px) {
  .col-9 {
    width: calc(100% - 15px);
  }
}

.col-8 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: calc(66.66667% - 15px);
}

@media screen and (max-width: 780px) {
  .col-8 {
    width: calc(100% - 15px);
  }
}

.col-7 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: calc(58.33333% - 15px);
}

@media screen and (max-width: 780px) {
  .col-7 {
    width: calc(100% - 15px);
  }
}

.col-6 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: calc(50% - 15px);
}

@media screen and (max-width: 780px) {
  .col-6 {
    width: calc(100% - 15px);
  }
}

.col-5 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: calc(41.66667% - 15px);
}

@media screen and (max-width: 780px) {
  .col-5 {
    width: calc(100% - 15px);
  }
}

.col-4 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: calc(33.33333% - 15px);
}

@media screen and (max-width: 780px) {
  .col-4 {
    width: calc(100% - 15px);
  }
}

.col-3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: calc(25% - 15px);
}

@media screen and (max-width: 780px) {
  .col-3 {
    width: calc(100% - 15px);
  }
}

.col-2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: calc(16.66667% - 15px);
}

@media screen and (max-width: 780px) {
  .col-2 {
    width: calc(100% - 15px);
  }
}

.col-1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: calc(8.33333% - 15px);
}

@media screen and (max-width: 780px) {
  .col-1 {
    width: calc(100% - 15px);
  }
}

#listmenu .listmenu1 {
  max-width: 200px;
  width: 100%;
  background-color: #ffe9af;
  border-radius: 7px;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 2px 1px #c13e00;
          box-shadow: 5px 5px 2px 1px #c13e00;
  border: 1px solid #000;
  margin: 10px auto;
}

#listmenu .listmenu1 li {
  font-size: 1.6rem;
  line-height: 1.5;
}

#listmenu .listmenu1 li a {
  color: #c13e00;
  display: inline-block;
  font-weight: 500;
}

#listmenu .listmenu1 li a:hover {
  color: #0007ec;
}

#registerform {
  background-color: #4b9cf9;
  border: 2px solid #0048ff;
  color: #fff;
  margin-top: 10px;
  margin-bottom: auto;
}

#registerform h3 {
  color: #fff;
  font-weight: 500;
  padding: 10px 20px;
  margin-top: 10px;
  border-bottom: 1px solid #fff;
}

#registerform .form {
  padding: 25px 50px 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media only screen and (max-width: 406px) {
  #registerform .form {
    padding: 20px 15px;
  }
}

#registerform .form_group {
  margin-bottom: 15px;
  width: 100%;
}

#registerform .form_label {
  color: #fff;
  font-size: 1.6rem;
  display: block;
}

#registerform .form_input {
  width: 100%;
  padding: 5px 10px;
}

#registerform .error_emai {
  display: none;
}

#registerform .left, #registerform .right {
  width: calc(100% - 55%);
}

#registerform .right {
  margin-left: 10%;
}

#registerform .btn {
  margin-top: 15px;
  padding: 5px 10px;
  border: 1px solid #ffe9af;
  color: #000;
  font-size: 1.4rem;
  background-color: #ffe9af;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#registerform .btn:hover {
  background-color: #fff;
}

.dropmenu {
  margin-top: 15px;
  height: 200px;
}

.dropmenu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dropmenu .menu_toggle {
  display: none;
}

.dropmenu .menu_toggle li {
  margin: 0 3px;
}

.dropmenu .menu_toggle li > a {
  padding: 4px 3px;
}

.dropmenu .menu_toggle li > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #2bd2e8;
}

.dropmenu .menu > li {
  margin: 5px 15px;
}

.dropmenu .menu a {
  display: block;
  padding: 3px 7px;
}

.dropmenu .menu > li {
  position: relative;
}

.dropmenu .menu > li > a {
  text-decoration: underline;
}

.dropmenu .menu > li:hover, .dropmenu .menu > li:focus, .dropmenu .menu > li:hover > a, .dropmenu .menu > li:focus > a {
  background: #fff;
  -webkit-box-shadow: 0 3px 10px #4d4d4d;
          box-shadow: 0 3px 10px #4d4d4d;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  position: relative;
  text-decoration: none;
}

.dropmenu .menu > li:hover > .menu_toggle {
  display: block;
  position: absolute;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 10px #4d4d4d;
          box-shadow: 0 3px 10px #4d4d4d;
}

#pointing_block {
  position: relative;
  background-color: #73e4fb;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 55px;
  padding: 25px 10px;
  border: 2px solid #1eb2f3;
  color: #fff;
}

#pointing_block:before {
  display: block;
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  top: -35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-style: solid;
  border-width: 0 35px 35px 35px;
  z-index: 1;
  border-color: transparent transparent #73e4fb transparent;
}

#pointing_block:after {
  display: block;
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  top: -37px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-style: solid;
  border-width: 0 37px 37px 37px;
  border-color: transparent transparent #1eb2f3 transparent;
  z-index: 0;
}

.bgdarc {
  background-color: #000000;
  padding-top: 15px;
  padding-bottom: 15px;
}

#article {
  position: relative;
  max-width: 500px;
  margin: 15px auto;
}

#article .title {
  text-transform: uppercase;
  color: #ffe9af;
  position: absolute;
  background-color: #000000;
  padding: 3px 5px;
  max-width: 140px;
}

#article .title:after {
  content: '';
  border-style: solid;
  border-width: 32px 20px 0 0;
  border-color: #000000 transparent transparent transparent;
  position: absolute;
  right: -20px;
  top: 0;
}

#article .box-gradient {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#8e8888));
  background-image: linear-gradient(-180deg, #fff, #8e8888);
  padding: 40px 10px 10px 10px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

#article .box-gradient p {
  font-size: 1.4rem;
  line-height: 1.4;
}

#headerTask .title {
  background-color: green;
  color: #ffff;
  font-weight: 400;
  font-size: 1.8rem;
  padding: 5px 10px;
}

#headerTask .text {
  background-color: #eaeaea;
  font-size: 1.4rem;
  margin-left: 25px;
  padding: 10px;
  line-height: 1.4;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

#box_gradient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#box_gradient div {
  width: calc(100%/5 - 5px);
  margin: 0 2.5px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  background: repeating-linear-gradient(transparent, transparent 20px, #333 20px, #333 23px), -webkit-gradient(linear, left top, left bottom, from(#FFD059), to(#FF8D02));
  background: repeating-linear-gradient(transparent, transparent 20px, #333 20px, #333 23px), linear-gradient(#FFD059, #FF8D02);
}

#box_gradient div:nth-child(1) {
  height: 70px;
}

#box_gradient div:nth-child(2) {
  height: 240px;
}

#box_gradient div:nth-child(3) {
  height: 150px;
}

#box_gradient div:nth-child(4) {
  height: 90px;
}

#box_gradient div:nth-child(5) {
  height: 40px;
}

#breadcrumbs {
  margin-top: 25px;
  margin-bottom: 25px;
}

#breadcrumbs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#breadcrumbs ul li {
  display: block;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#bfbfbf));
  background: linear-gradient(180deg, #ddd, #bfbfbf);
}

#breadcrumbs ul li:after {
  content: '';
  position: absolute;
  width: 28px;
  height: 28px;
  top: -1px;
  right: -8px;
  border-bottom: 8px solid white;
  border-right: 8px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(-60deg) skew(-28deg);
          transform: rotate(-60deg) skew(-28deg);
  z-index: 1;
}

#breadcrumbs ul li:hover {
  background: green;
}

#breadcrumbs ul li:hover a {
  color: #fff;
  text-decoration: none;
}

#breadcrumbs ul li a {
  display: block;
  padding: 7px 25px;
  color: #000;
  font-weight: 500;
}
/*# sourceMappingURL=main.css.map */