html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

img, fieldset, a img {
  border: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
}

input[type="submit"],
button {
  cursor: pointer;
}

input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

input, button {
  margin: 0;
  padding: 0;
  border: 0;
}

div, input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none;
}

ul, ol {
  list-style-type: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-transition: none !important;
    transition: none !important;
  }
}

html {
  font-size: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 10px;
  overflow-x: hidden;
  min-width: 320px;
  background-color: #39b571;
}

hr {
  border: 1px solid #000;
  width: 100%;
}

.container {
  max-width: 1181px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media screen and (max-width: 780px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

strong {
  font-weight: bold;
}

p, span {
  font-size: 1.4rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 2.4rem;
  font-weight: bold;
}

h3 {
  font-size: 2.2rem;
  font-weight: bold;
}

h4, h5, h6 {
  font-size: 20px;
  font-weight: bold;
}

ul > li, ol > li {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #337ab7;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

a:hover, a:focus {
  color: #000;
  text-decoration: underline;
}

.col-12 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(100% - 20px);
}

@media screen and (max-width: 780px) {
  .col-12 {
    width: calc(100% - 20px);
  }
}

.col-11 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(91.66667% - 20px);
}

@media screen and (max-width: 780px) {
  .col-11 {
    width: calc(100% - 20px);
  }
}

.col-10 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(83.33333% - 20px);
}

@media screen and (max-width: 780px) {
  .col-10 {
    width: calc(100% - 20px);
  }
}

.col-9 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(75% - 20px);
}

@media screen and (max-width: 780px) {
  .col-9 {
    width: calc(100% - 20px);
  }
}

.col-8 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(66.66667% - 20px);
}

@media screen and (max-width: 780px) {
  .col-8 {
    width: calc(100% - 20px);
  }
}

.col-7 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(58.33333% - 20px);
}

@media screen and (max-width: 780px) {
  .col-7 {
    width: calc(100% - 20px);
  }
}

.col-6 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(50% - 20px);
}

@media screen and (max-width: 780px) {
  .col-6 {
    width: calc(100% - 20px);
  }
}

.col-5 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(41.66667% - 20px);
}

@media screen and (max-width: 780px) {
  .col-5 {
    width: calc(100% - 20px);
  }
}

.col-4 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(33.33333% - 20px);
}

@media screen and (max-width: 780px) {
  .col-4 {
    width: calc(100% - 20px);
  }
}

.col-3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(25% - 20px);
}

@media screen and (max-width: 780px) {
  .col-3 {
    width: calc(100% - 20px);
  }
}

.col-2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(16.66667% - 20px);
}

@media screen and (max-width: 780px) {
  .col-2 {
    width: calc(100% - 20px);
  }
}

.col-1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(8.33333% - 20px);
}

@media screen and (max-width: 780px) {
  .col-1 {
    width: calc(100% - 20px);
  }
}

.wrapper {
  max-width: 1181px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (max-width: 780px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.wrapper .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 800px) {
  .wrapper .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.wrapper .header h1 {
  color: #ffff;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .wrapper .nav {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.wrapper .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 800px) {
  .wrapper .nav-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.wrapper .nav-bar li {
  margin: 0 5px;
}

@media only screen and (max-width: 800px) {
  .wrapper .nav-bar li {
    margin: 0;
    width: 100%;
    border-bottom: 1px solid #fefe;
  }
}

.wrapper .nav-bar li:first-child {
  margin-left: 0;
}

.wrapper .nav-bar li:last-child {
  margin-right: 0;
}

.wrapper .nav-bar li a {
  padding: 10px 15px;
  display: block;
  background-color: #fff;
  color: #000;
}

.wrapper .nav-bar li a:hover {
  background-color: #000000;
  text-decoration: none;
  color: #fff;
}

.wrapper .btn {
  padding: 10px 15px;
  display: block;
  background-color: #fff;
  color: #000;
  height: 37px;
}

@media only screen and (max-width: 800px) {
  .wrapper .btn {
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
  }
}

.wrapper .btn:hover {
  background-color: #000000;
  text-decoration: none;
  color: #fff;
}

.wrapper .serch {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 10px;
}

@media only screen and (max-width: 800px) {
  .wrapper .serch {
    margin-left: 0;
  }
}

.wrapper .serch form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper .serch input {
  background-color: rgba(162, 161, 161, 0.5);
  margin-right: 10px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  padding: 10px;
}

@media only screen and (max-width: 800px) {
  .wrapper .serch input {
    display: none;
  }
}

.wrapper .content {
  margin-top: 25px;
}

@media only screen and (max-width: 1000px) {
  .wrapper .content .col-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
  .wrapper .content .col-3 > .card {
    width: 100%;
  }
  .wrapper .content .col-3, .wrapper .content .col-9 {
    width: calc(50% - 20px);
  }
}

@media only screen and (max-width: 800px) {
  .wrapper .content .col-3, .wrapper .content .col-9 {
    width: calc(100% - 20px);
  }
}

.wrapper .revers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media only screen and (max-width: 1000px) {
  .wrapper .revers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.wrapper .revers .card-body {
  width: calc(50% - 20px);
}

@media only screen and (max-width: 1000px) {
  .wrapper .revers .card-body {
    width: auto;
    padding: 0;
  }
}

.wrapper .revers .card-image {
  width: calc(50% - 20px);
}

@media only screen and (max-width: 1000px) {
  .wrapper .revers .card-image {
    width: auto;
    padding: 0;
  }
}

@media only screen and (max-width: 1000px) {
  .wrapper .bottom_colum .col-8 {
    width: calc(50% - 20px);
  }
  .wrapper .bottom_colum .col-4 {
    width: calc(50% - 20px);
  }
}

@media only screen and (max-width: 800px) {
  .wrapper .bottom_colum .col-8 {
    width: calc(100% - 20px);
  }
  .wrapper .bottom_colum .col-4 {
    width: calc(100% - 20px);
  }
}

.card {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0px 3px 0px #777777;
          box-shadow: 0px 0px 3px 0px #777777;
  margin-bottom: 20px;
}

.card img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-body {
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.card-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-title a {
  color: #000000;
  font-size: 2rem;
}

.card-title a:hover {
  color: #337ab7;
}

.card-text {
  margin-bottom: 15px;
  line-height: 1.5;
  font-size: 1.3rem;
}

.card-footer {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.card-footer a {
  font-size: 1.1rem;
  color: #948c8c;
}

.card-footer a:hover {
  color: #337ab7;
}
/*# sourceMappingURL=main.css.map */